In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
cdtx_train_X = pd.read_csv('/home/bill/moneylaundring/contest/processed_dataset/cdtx_train_X.csv')
cdtx_train_y = pd.read_csv('/home/bill/moneylaundring/contest/processed_dataset/cdtx_train_y.csv')
cdtx_train_idx = pd.read_csv('/home/bill/moneylaundring/contest/processed_dataset/cdtx_train_idx.csv')

dp_train_X = pd.read_csv('/home/bill/moneylaundring/contest/processed_dataset/dp_train_X.csv')
dp_train_y = pd.read_csv('/home/bill/moneylaundring/contest/processed_dataset/dp_train_y.csv')
dp_train_idx = pd.read_csv('/home/bill/moneylaundring/contest/processed_dataset/dp_train_idx.csv')

remit_train_X = pd.read_csv('/home/bill/moneylaundring/contest/processed_dataset/remit_train_X.csv')
remit_train_y = pd.read_csv('/home/bill/moneylaundring/contest/processed_dataset/remit_train_y.csv')
remit_train_idx = pd.read_csv('/home/bill/moneylaundring/contest/processed_dataset/remit_train_idx.csv')

cdtx_test_X = pd.read_csv('/home/bill/moneylaundring/contest/processed_dataset/cdtx_test_X.csv')
cdtx_test_idx = pd.read_csv('/home/bill/moneylaundring/contest/processed_dataset/cdtx_test_idx.csv')

dp_test_X = pd.read_csv('/home/bill/moneylaundring/contest/processed_dataset/dp_test_X.csv')
dp_test_idx = pd.read_csv('/home/bill/moneylaundring/contest/processed_dataset/dp_test_idx.csv')

remit_test_X = pd.read_csv('/home/bill/moneylaundring/contest/processed_dataset/remit_test_X.csv')
remit_test_idx = pd.read_csv('/home/bill/moneylaundring/contest/processed_dataset/remit_test_idx.csv')

In [3]:
cdtx_train_X

,risk_rank,occupation_code,total_asset,AGE,cycam,country,cur_type,amt,date
0,1,2.0,43580.0,2,174655.0,130,47,2671.0,298
1,1,2.0,104804.0,2,174655.0,130,47,9256.0,351
2,3,15.0,86994.0,5,206512.0,130,47,516.0,320
3,3,15.0,44832.0,5,206512.0,130,47,45.0,350
4,3,15.0,44832.0,5,206512.0,130,47,107.0,350
...,...,...,...,...,...,...,...,...,...
48013,1,17.0,33366.0,4,568349.0,130,47,1467.0,363
48014,1,17.0,33366.0,4,568349.0,44,47,1216.0,363
48015,2,9.0,98128.0,5,1013581.0,130,47,193.0,364
48016,1,12.0,1454.0,5,519218.0,130,47,143.0,364
48017,1,17.0,829412.0,6,523405.0,130,47,10.0,364

In [4]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.ensemble import RandomForestRegressor

In [22]:
dp_test_X

,risk_rank,occupation_code,total_asset,AGE,cycam,tx_type,tx_amt,exchg_rate,info_asset_code,cross_bank,ATM,txbranch,date
0,1,19.0,1449978.0,7,0.0,2,1038.0,3.311,20,0,1,-1.0,6
1,1,19.0,1449978.0,7,0.0,2,20902.0,33.940,20,0,1,-1.0,6
2,1,19.0,1449978.0,7,0.0,2,30119.0,33.680,20,0,1,-1.0,6
3,1,19.0,1449978.0,7,0.0,2,26701.0,28.405,20,0,1,-1.0,6
4,1,19.0,1449978.0,7,0.0,2,415.0,28.435,20,0,1,-1.0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
162092,1,17.0,829412.0,6,523405.0,2,3234.0,1.000,16,0,0,-1.0,364
162093,1,17.0,829412.0,6,523405.0,2,2987.0,1.000,12,0,0,-1.0,364
162094,1,17.0,829412.0,6,523405.0,2,719.0,1.000,16,0,0,-1.0,364
162095,1,17.0,829412.0,6,523405.0,2,570.0,1.000,12,0,0,-1.0,364
162096,1,17.0,829412.0,6,523405.0,2,708.0,1.000,12,0,0,-1.0,364

In [5]:
cdtx_ct = ColumnTransformer(transformers=[('onehot', OneHotEncoder(handle_unknown='ignore'),[0,1,3,5,6,7])], remainder='passthrough')
cdtx_X_train = cdtx_ct.fit_transform(cdtx_train_X)
cdtx_X_test = cdtx_ct.transform(cdtx_test_X)

In [6]:
dp_ct = ColumnTransformer(transformers=[('onehot', OneHotEncoder(handle_unknown='ignore'),[0,1,5,7,8,9,10,11,12])], remainder='passthrough')
dp_X_train = dp_ct.fit_transform(dp_train_X)
dp_X_test = dp_ct.transform(dp_test_X)

In [7]:
r_ct = ColumnTransformer(transformers=[('onehot', OneHotEncoder(handle_unknown='ignore'),[0,1,5,7])], remainder='passthrough')
remit_X_train = r_ct.fit_transform(remit_train_X)
remit_X_test = r_ct.transform(remit_test_X)

In [8]:
cdtx_X_train.shape

(48018, 8203)

In [9]:
regressor_cdtx = RandomForestRegressor(n_estimators=100, criterion='squared_error', random_state= 42)
regressor_cdtx.fit(cdtx_X_train, cdtx_train_y.values.ravel())

RandomForestRegressor(random_state=42)

In [10]:
dp_X_train.shape

(162097, 1795)

In [11]:
regressor_dp = RandomForestRegressor(n_estimators=100, criterion='squared_error', random_state= 42)
regressor_dp.fit(dp_X_train, dp_train_y.values.ravel())

RandomForestRegressor(random_state=42)

In [12]:
regressor_remit = RandomForestRegressor(n_estimators=100, criterion='squared_error', random_state= 42)
regressor_remit.fit(remit_X_train, remit_train_y.values.ravel())

RandomForestRegressor(random_state=42)

In [13]:
cdtx_y_pred = regressor_cdtx.predict(cdtx_X_test)
cdtx_y_pred

array([0.  , 0.  , 0.03, ..., 0.  , 0.  , 0.  ])

In [14]:
cdtx_y_ans = pd.DataFrame(cdtx_y_pred)
cdtx_y_ans[cdtx_y_ans[0]!=0]

         0
2     0.03
3     0.03
4     0.03
5     0.03
6     0.63
...    ...
1712  0.12
1733  0.36
1734  0.01
1754  0.02
1763  0.02

[74 rows x 1 columns]

In [16]:
dp_y_pred = regressor_dp.predict(dp_X_test)
dp_y_ans = pd.DataFrame(dp_y_pred)
dp_y_ans

          0
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
...     ...
162092  0.0
162093  0.0
162094  0.0
162095  0.0
162096  0.0

[162097 rows x 1 columns]

In [18]:
remit_y_pred = regressor_remit.predict(remit_X_test)
remit_y_ans = pd.DataFrame(remit_y_pred)
remit_y_ans

       0
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
..   ...
624  0.0
625  0.0
626  0.0
627  0.0
628  0.0

[629 rows x 1 columns]

In [19]:
cdtx_ans = pd.DataFrame(cdtx_test_idx['alert_key'])
cdtx_ans['probability'] = cdtx_y_ans[0]
cdtx_ans

      alert_key  probability
0        368186         0.00
1        373816         0.00
2        365768         0.03
3        368081         0.03
4        368850         0.03
...         ...          ...
1793     377924         0.00
1794     377924         0.00
1795     378240         0.00
1796     378404         0.00
1797     378407         0.00

[1798 rows x 2 columns]

In [20]:
dp_ans = pd.DataFrame(dp_test_idx['alert_key'])
dp_ans['probability'] = dp_y_ans[0]
dp_ans

        alert_key  probability
0          172802          0.0
1          172802          0.0
2          172802          0.0
3          172802          0.0
4          172802          0.0
...           ...          ...
162092     352111          0.0
162093     352111          0.0
162094     352111          0.0
162095     352111          0.0
162096     352111          0.0

[162097 rows x 2 columns]

In [24]:
remit_ans = pd.DataFrame(remit_test_idx['alert_key'])
remit_ans['probability'] = remit_y_ans[0]
remit_ans

     alert_key  probability
0       365126          0.0
1       368186          0.0
2       374259          0.0
3       365195          0.0
4       365768          0.0
..         ...          ...
624     377358          0.0
625     377457          0.0
626     377933          0.0
627     378076          0.0
628     378428          0.0

[629 rows x 2 columns]

In [25]:
ans = pd.concat([cdtx_ans,dp_ans,remit_ans])

In [26]:
ans

     alert_key  probability
0       368186         0.00
1       373816         0.00
2       365768         0.03
3       368081         0.03
4       368850         0.03
..         ...          ...
624     377358         0.00
625     377457         0.00
626     377933         0.00
627     378076         0.00
628     378428         0.00

[164524 rows x 2 columns]

In [27]:
ans['probability'] = ans['probability'].abs()

In [28]:
ans_mean = ans.groupby(['alert_key']).max()

In [29]:
ans_mean

           probability
alert_key
171142            0.00
171152            0.00
171177            0.00
171180            0.04
171181            0.00
...                ...
378407            0.00
378409            0.00
378426            0.00
378427            0.00
378428            0.00

[16807 rows x 1 columns]

In [30]:
submit = pd.read_csv('/home/bill/moneylaundring/dataset/submit.csv')

In [31]:
submit['probability']=0

In [32]:
submit_new = pd.merge(submit, ans_mean, on=['alert_key'],how='left')

In [35]:
submit_new['probability_y'].fillna(0,inplace=True)

In [36]:
submit_final = submit_new.rename(columns={'probability_y':'probability'})

In [37]:
submit_final = submit_final[['alert_key','probability']]

In [38]:
submit_final = submit_final.sort_values(by ='probability', ascending=False)

In [42]:
submit_final[submit_final['probability']!=0]

      alert_key  probability
1802     377778         0.80
757      373461         0.80
2638     370734         0.63
3250     367926         0.61
1276     374115         0.49
...         ...          ...
737      373105         0.01
1561     371950         0.01
3483     374078         0.01
3410     367532         0.01
2141     372541         0.01

[66 rows x 2 columns]

In [43]:
submit_final.to_csv('/home/bill/moneylaundring/contest/submissions/random_forest_1225.csv')